<!DOCTYPE html>
<html lang="fr">

<head>
	<meta charset="utf-8">
	<title>ToDo List</title>
        <link rel="stylesheet" type="text/css" href="index.css">
</head>

<body>
  <header>
  </header>

  <h1>"bienvenu !"</h1>

  <button>register</button>
  <button>sigin</button>
  <button>sigout</button>

  <form action="{{ url_for('route_register') }}" method="POST">
	  <label for="username">Username :</label>
	  <input id="username" name="username" placeholder="Enter username" />
	  <label for="password">Password :</label>
	  <input id="password" name="password" placeholder="Enter password" />
          <button type='submit' name='submit' vlue='submit'>submit</button>
  </form>

  <footer>
  </footer>

</body>
<script type="text/javascript" scr="../static/js/index.js"></script>
</html>
