<!DOCTYPE html>
<html lang="fr">

<head>
	<meta charset="utf-8">
	<title>ToDo List</title>
        <link rel="stylesheet" type="text/css" href="../static/css/index.css">
</head>

<body>
  <header>
  </header>

  <h1>"bienvenu !"</h1>

  <button>register</button>
  <button>sigin</button>
  <button>sigout</button>

  <form acton="" method="POST">
	  <label for="username">Username :</label>
	  <input id="username" name="username" placeholder="Enter username" />
  </form>

  <footer>
  </footer>
</body>
<script type="text/javascript" scr="../static/js/index.js"></script>
</html>
