{% extends "base.html" %}
{% set page_title = "Mon Compte" %}

{% block content %}
<header class="bg-profile text-white">
    <div class="container text-center">
        <h1 style="text-transform: uppercase;">{{ page_title }}</h1>
        <p class="lead">Consultez les informations de votre profil</p>
    </div>
</header>

<section id="services" class="bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <b style="text-transform: uppercase;">Informations Générales</b>
                    </div>
                    <div class="panel-footer">
                        Taches totales :<span style="float: right" class="badge badge-info">{{ tasks_count }} au total</span><br />
                        Taches en attente :<span style="float: right" class="badge badge-danger">{{ tasks_wait }} en attente</span><br />
                        Taches en cours :<span style="float: right" class="badge badge-warning">{{ tasks_in_pr }} en cours</span><br />
                        Taches terminées :<span style="float: right" class="badge badge-success">{{ tasks_done }} terminées</span><br />
                        <hr />
                        Nom d'utilisateur: <b style="float: right">{{ session.username }}</b><br />
                        Mot de passe: <p style="float: right">&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&nbsp;<span class="badge badge-danger"><i class="fa fa-pencil-alt"></i></span></p>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                {% include 'flash.html' %}
                <h2>Bonjour <b>{{ session.username }}</b>,</h2>
                <p class="lead">
                    Bienvenue sur votre espace personnel.<br />Vous pouvez créer, éditer, supprimer, et voir vos tâches.
                </p>
                <a href="{{ url_for(('route_user_all_task')) }}" class="btn btn-primary" role="button" aria-pressed="true"><span class="fa fa-eye" aria-hidden="true"></span>&nbsp;Voir mes taches</a>
                <hr />
                <h3>Voici la progression de vos taches</h3>
                <br />
                <div class="progress" style="height: 20px;margin-bottom:10px;">
                    {% set progression = (100 * tasks_wait) / tasks_count %}
                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger" role="progressbar" style="width: {{ progression }}%" aria-valuenow="{{ progression }}" aria-valuemin="0" aria-valuemax="100"><b>{{ progression|int }}% des tâches en attente</b></div>
                </div>
                <div class="progress" style="height: 20px;margin-bottom:10px;">
                    {% set progression = (100 * tasks_in_pr) / tasks_count %}
                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar" style="width: {{ progression }}%" aria-valuenow="{{ progression }}" aria-valuemin="0" aria-valuemax="100"><b>{{ progression|int }}% des tâches en cours</b></div>
                </div>
                <div class="progress" style="height: 20px;">
                    {% set progression = (100 * tasks_done) / tasks_count %}
                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" style="width: {{ progression }}%" aria-valuenow="{{ progression }}" aria-valuemin="0" aria-valuemax="100"><b>{{ progression|int }}% des tâches terminées</b></div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
