{% extends "base.html" %}
{% set page_title = "Mon Compte" %}

{% block content %}
<header class="bg-profile text-white">
    <div class="container text-center">
        <h1 style="text-transform: uppercase;">{{ page_title }}</h1>
        <p class="lead">Consultez les informations de votre profil</p>
    </div>
</header>

<section id="services" class="bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <b style="text-transform: uppercase;">Informations Générales</b>
                    </div>
                    <div class="panel-footer">
                        Taches totales :<span style="float: right" class="badge badge-info">{{ tasks_count }} au total</span><br />
                        Taches en attente :<span style="float: right" class="badge badge-danger">{{ tasks_wait }} en attente</span><br />
                        Taches en cours :<span style="float: right" class="badge badge-warning">{{ tasks_in_pr }} en cours</span><br />
                        Taches terminées :<span style="float: right" class="badge badge-success">{{ tasks_done }} terminées</span><br />
                        <hr />
                        Nom d'utilisateur: <b style="float: right">{{ session.username }}</b><br />
                        Mot de passe: <p style="float: right">&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&nbsp;<span class="badge badge-danger"><i class="fa fa-pencil-alt"></i></span></p>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                {% include 'flash.html' %}
                <h2>Bonjour <b>{{ session.username }}</b>,</h2>
                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut optio velit inventore, expedita quo laboriosam possimus ea consequatur vitae, doloribus consequuntur ex. Nemo assumenda laborum vel, labore ut velit dignissimos.</p>
                <div style="margin-bottom: 60px;"></div>
                <h3>Voici la progression de vos taches</h3>
                <a href="{{ url_for(('route_user_all_task')) }}" class="btn btn-primary" role="button" aria-pressed="true"><span class="fa fa-eye" aria-hidden="true"></span>&nbsp;Voir mes taches</a>
            </div>
        </div>
    </div>
</section>
{% endblock %}
