{% extends "base.html" %}
{% set title = "Mes Tâches" %}

{% block content %}
<header class="bg-profile-tasks text-white">
    <div class="container text-center">
        <h1 style="text-transform: uppercase;">{{ title }}</h1>
        <p class="lead">Afficher et interagissez avec vos tâches</p>
    </div>
</header>

<section id="services" class="bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <h3>Actions</h3>
                <hr />
                <button type="button" class="btn btn-success" data-toggle="modal" data-target=".modal-create-task"><span class="fa fa-plus" aria-hidden="true"></span>&nbsp;Nouvelle tâche</button>
            </div>
            <div class="col-md-10">
                {% include 'flash.html' %}
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Titre</th>
                            <th scope="col">Status</th>
                            <th scope="col">Démarée le</th>
                            <th scope="col">Terminée le</th>
                            <th scope="col" style="text-align:center;">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for task in tasks_list %}
                        <tr>
                            <th scope="row">{{ task[0] }}</th>
                            <td>{{ task[1] }}</td>
                            <td>
                                {% if "not started" in task[4] %}
                                <span class="label label-danger">En attente</span>
                                {% elif "in progress" in  task[4] %}
                                <span class="label label-warning">En cours...</span>
                                {% else %}
                                <span class="label label-success">Terminée</span>
                                {% endif %}
                            </td>
                            <td>{{ task[2]|title }}</td>
                            <td>
                                {% if task[3] == None %}
                                <b>Non défini</b>
                                {% else %}
                                {{ task[3]|title }}
                                {% endif %}
                            </td>
                            <td align="center">
                                <span class="label label-default"><i class="fa fa-pencil-alt"></i></span>
                                <span class="label label-danger"><i class="fa fa-trash"></i></span>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>

<!-- LOGIN MODAL -->
<div class="modal fade modal-create-task" tabindex="-1" role="dialog" aria-labelledby="model_createètask_label">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <h4 style="text-align:center; text-transform: uppercase;">Créer une nouvelle tâche</h4>
                <hr />
                <form action="{{ url_for('route_create_task') }}" method="POST">
                    <div class="form-group">
                        <label for="title">Nom de la tâche :</label>
                        <input type="text" id="title" required autofocus name="title" class="form-control" placeholder="Entrez un titre">
                    </div>
                    <div class="form-group">
                        <label for="begin">Date de début :</label>
                        <input type="text" id="begin" name="begin" class="form-control" aria-describedby="begin-help" placeholder="Entrez la date de début">
                        <small id="begin-help" class="form-text text-muted">Valeur par défaut : {{ current|title }}</small>
                    </div>
                    <div class="form-group">
                        <label for="end">Date de fin :</label>
                        <input type="text" id="end" name="end" class="form-control" aria-describedby="end-help" placeholder="Entrez la date de fin">
                        <small id="end-help" class="form-text text-muted">Valeur par défaut : Non défini</small>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-success"><i class="fa fa-plus"></i>&nbsp;Créer !</button>
                        <a href="#" onclick="$('.modal-create-task').modal('hide');" class="btn btn-dark" role="button" aria-pressed="true"><i class="fa fa-undo-alt"></i>&nbsp;Retour</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
